# {{ ansible_managed }}
#
LogFile /var/log/clamav/clamd.log
LogFileUnlock no
LogFileMaxSize 0
LogTime yes
LogClean no
LogSyslog no
LogFacility LOG_LOCAL6
LogVerbose no
ExtendedDetectionInfo yes
PidFile /var/run/clamav/clamd.pid
TemporaryDirectory /var/tmp
DatabaseDirectory /var/lib/clamav
OfficialDatabaseOnly no
LocalSocket /var/run/clamav/clamd.sock
FixStaleSocket yes
TCPSocket 3310
TCPAddr 127.0.0.1
MaxConnectionQueueLength 15
StreamMaxLength 25M
MaxThreads 12
ReadTimeout 180
CommandReadTimeout 5
SendBufTimeout 200
MaxQueue 100
IdleTimeout 30
MaxDirectoryRecursion 15
FollowDirectorySymlinks no
FollowFileSymlinks no
CrossFilesystems yes
SelfCheck 3600
User clam
AllowSupplementaryGroups no
ExitOnOOM no
Foreground no
Debug no
LeaveTemporaryFiles no
DetectPUA no
AlgorithmicDetection yes
ScanPE yes
ScanELF yes
DetectBrokenExecutables no
ScanOLE2 yes
OLE2BlockMacros no
ScanMail no
ScanPartialMessages no
PhishingSignatures yes
PhishingScanURLs yes
PhishingAlwaysBlockSSLMismatch no
PhishingAlwaysBlockCloak no
HeuristicScanPrecedence no
StructuredDataDetection no
ScanHTML yes
ScanArchive yes
ArchiveBlockEncrypted no
Bytecode yes
BytecodeSecurity TrustSigned
BytecodeTimeout 60000